#section-style{
    background-color: #ffffff;
    border: 1px solid #d0d0d0;   
}

.Part1{
    display: ;
    flex-direction: row;
    width: 1366px;
    margin: 0px auto;
    padding-top: 64px;
    background-color: white;
}

.Part1{


}
.Part3{


}